# Initial requirements
streamlit
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
openai
PyYAML
pandas
requests
gspread
langchain
faiss-cpu
PyJWT
langchain-community
tiktoken
